universe=vanilla

job_ad_information_attrs = MachineSlotName
+MachineSlotName = "$$(Name)"

executable=$ORCA_SCRIPT
getenv=True

transfer_executable=true
 
 
output=logs/worker-pre.out
error=logs/worker-pre.err
log=logs/worker-pre.log

Requirements = (Arch != "") && (OpSys != "") && (Disk != -1) && (Memory != -1) && (DiskUsage >= 0) && (NODE_SET == "$NODE_SET")

should_transfer_files = YES
when_to_transfer_output = ON_EXIT

remote_initialdir=$ORCA_DEFAULTROOT
queue

