#!/bin/sh

export HOME=$ORCA_DEFAULTROOT
export SHELL=/bin/sh
export USER=$USERNAME
source /etc/bashrc

datadir=$DATADIR

export HOME=$ORCA_DEFAULTROOT
mkdir -p $ORCA_DEFAULTROOT/$ORCA_RUNID
cd $ORCA_DEFAULTROOT/$ORCA_RUNID

mkdir -p logs
mkdir -p output

eups list --setup > eups.list 
# Executing any precall() method one time without processing any data
# will save provenance information such as configs and schemas
#id_option=""
#$COMMAND
